*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    padding: 50px;
}
.navbar {
  /* background-color: pink; */
}

.navbar li{
    display: inline-block;
}

.main {
  width: 300px;
}

.main h2{
    background-color: lightcoral;
}
