*,
html {
  margin: 0;
  padding: 0;
}
div {
  width: 600px;
  margin: 10px auto;
}
/* maka gunakan box sizing: border box */
/* agar tanpa mengatur lagi */
.satu {
  background-color: tomato;
  padding: 10px;
  border: 5px dashed blue;
  width: 570px;
}
.dua {
  width: 520px;
  background-color: aqua;
  padding: 30px;
  border: 10px solid red;
}
