* {
  margin: 0;
  padding: 0;
}
body {
  height: 2000px;
}
div{
  width: 200px;
  height: 200px;
  margin: auto;
}
.container {
  width: 600px;
  height: 650px;
  border: 10px solid green;
  /* ke tengah (auto) thdp pembungkusnya */
  margin: auto;
  position: relative;
}

.satu {
  background-color: lightblue;
}
.dua {
  background-color: violet;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;

  /* jika absolute maka akan relatif thdp elemn pembungkusnya dalam hal ini yaitu body/window */
}
.tiga {
  background-color: gold;
}
